/* Happy New Year Area Start */
.happy-new-year {
    text-align: center;
    color: rgb(57, 231, 231);
    font-size: 35px;

    background-image: url("resources/elephant.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

/* Happy New Year Area End */

/* 65% OFF Area Start */
.sixty-five-percent-off {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.sixty-five-percent-off h1 {
    font-size: 100px;
    color: red;
    margin-bottom: 10px;
}

.sixty-five-percent-off h3 {
    font-size: 30px;
    color: red;
    margin-top: 5px;
}

.sixty-five-percent-off h2 {
    font-size: 60px;
    color: rgb(7, 230, 238);
    margin-top: 5px;
    margin-bottom: 10px;
}

/* 65% OFF Area End */

/* welcome-to-midnight-party Start */
.welcome-to-midnight-party {
    background-image: url("resources/welcome-to-midnight-party.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.welcome-to-midnight-party{
    padding: 15px 310px 0px 310px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.welcome-to-midnight-party h1{
    color: beige;
    font-size: 85px;
    line-height: 30px;
}

.welcome-to-midnight-party p{
    color: rgb(162, 187, 187);
    font-size: 18px;
}

.btn-join-now{
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    /* White Color */
    color: #FFFFFF;
    margin-bottom: 60px;
    
}

/* welcome-to-midnight-party End */

/*New Park Hotel Area Start */

.New-Park-Hotel-Area{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    background-color: rgb(255, 234, 234); 
    margin: 10px 280px;
    padding-top: 30px;
    padding-bottom: 120px;
    border-radius: 10px;
}

.party-details{
    color: red;
}

.second-join-button{
    background: #ec0493;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    /* White Color */
    color: #FFFFFF;
    padding: 16px 35px;
}
/* New Park Hotel Area End */

/* New-Best-Offer-Coming-Soon Start */

.New-Best-Offer-Coming-Soon{
    display:flex;
    margin: 190px 280px 30px 280px;
    justify-content:space-around;
}

.coming-soon{
    line-height: 15px;
    margin-right: 50px;
    
    
    
}

.coming-soon h3{
    color: #e71717;
    font-size: 30px;
}

.coming-soon h1{
    font-size: 60px;
}

.coming-soon p{
    font-weight: bold;
    font-size: 20px;
}

.new-year-festival{
    border-radius: 70%;
    border: 15px solid #e71717;
    
    /* position:absolute; */
}

.twenty2024{
    margin-left: 50px;
    
}


/* New-Best-Offer-Coming-Soon End */

/* twenty2024 Start */

.twenty2024 h1{
    color: #e71717;
    font-size: 35px;
    line-height: 10px;
}

.twenty2024 p{
    font-size: 20px;
    font-weight: bold;
}

/* holidays-sale start */
.holidays-sale{
    margin-top: 150px;
    line-height: 20px;
}
.holidays-sale-text{
    text-align: center;
    margin-left: 280px;
    margin-right: 280px;
}

.red-holidays{
    color: #e71717;
}

.holidays-sale-text h3{
    font-weight: 160px;
    font-size: 30px;
    font-style: bold;
}

.holidays-sale-text h1{
    font-weight: 160px;
    font-size: 80px;

}

.holidays-sale-text p{
    font-style: bold;
    font-size: 25px;
    text-align: justify;
}
/* holidays-sale start */